*{
  padding: 0px;
  margin:0px;
}
body,html{
  height: 100%;

}
h1{
  padding-top:5px;
  color: aliceblue;
  text-align: center;
}

input{
  border-radius: 10px;
  border:0px;
  height:26px;
  padding-left:3px;
  padding-right:3px;
}
textarea{
  vertical-align: middle;
  border-radius: 15px;
  border: 0px;
}
label{
  display: inline-block;
  width: 200px;
}
.box{
 padding:20px;
  background:rgba(1, 1, 10, 0.7);
  color: white;
  border-radius: 10px;
  width: 600px;
  font-size: large;
}
.bg{
  background-image:url("https://mcdn.wallpapersafari.com/medium/36/68/m9Xd5S.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  opacity:0.8;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.button{
  display: flex;
  justify-content:center;
  align-items: center;
}
.btn{
  background-color: rgb(226, 43, 43);
  border:none;
  padding:5px;
  border-radius: 7px;
  color:white;
}
.btn:hover{
  background-color: rgb(228, 76, 76);
}
